<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mykotlinsample">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">

        <activity
            android:name=".Common.CommonActivities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Common.CommonActivities.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat"/>

        <activity
            android:name=".Common.CommonActivities.ForgotActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat"/>

        <activity
            android:name=".Common.CommonActivities.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat"/>

        <activity
            android:name="com.example.mykotlinsample.Users.UserActivities.DashboardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat"/>

        <!-- Admin Activities -->

        <activity
            android:name=".Admin.AdminActivities.Dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat"/>

        <activity
            android:name=".Admin.AdminActivities.Admin_Add_Category"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat"/>

        <activity
            android:name=".Admin.AdminActivities.Admin_ItemsList"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat"/>

        <activity
            android:name=".Admin.AdminActivities.Admin_Add_Items"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat"/>

        <activity
            android:name=".Admin.AdminActivities.Admin_Updated_Item"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat"/>

        <activity
            android:name=".Admin.AdminActivities.Admin_HiddenItems"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat"/>

        <activity
            android:name=".Admin.AdminActivities.Admin_UpdatedCategory"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat"/>

    </application>

</manifest>